<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ETicaret.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ETicaret.MVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ETicaret.MVC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <a class="nav-link text-dark" data-menu="home" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        <a class="nav-link text-dark" data-menu="adres" asp-area="" asp-controller="Home" asp-action="Adres">Adresler</a>
                        <a class="nav-link text-dark" data-menu="user" asp-area="" asp-controller="Home" asp-action="User">Kullanicilar</a>
                        <a class="nav-link text-dark" data-menu="product" asp-area="" asp-controller="Home" asp-action="Product">Ürünler</a>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ETicaret.MVC - <a asp-area="" asp-controller="Home" asp-action="Adres">Adresler</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Menü öğelerini seçin
            var menuItems = document.querySelectorAll(".nav-link");

            // Tıklanan menü öğesinin rengini depolamak için localStorage kullanalım
            var selectedMenuItem = localStorage.getItem("selectedMenuItem");

            // Eğer depolanan bir değer varsa, ilgili öğenin rengini ayarlayalım
            if (selectedMenuItem) {
                var selectedElement = document.querySelector(".nav-link[data-menu='" + selectedMenuItem + "']");
                if (selectedElement) {
                    selectedElement.classList.add("active");
                }
            }

            // Menü öğelerine tıklanıldığında gerçekleşecek işlem
            menuItems.forEach(function (menuItem) {
                menuItem.addEventListener("click", function () {
                    // Önce tüm menü öğelerinin rengini sıfırlayalım
                    menuItems.forEach(function (item) {
                        item.classList.remove("active");
                    });

                    // Tıklanan menü öğesinin rengini değiştirin
                    menuItem.classList.add("active");

                    // Tıklanan menü öğesini localStorage'da depolayalım
                    localStorage.setItem("selectedMenuItem", menuItem.getAttribute("data-menu"));
                });
            });
        });
    </script>

</body>
</html>
